@use "../global/variables";

.adv {
  position: relative;
  padding-top: 37px;
  padding-bottom: 6px;

  @media (min-width: $tablet-width) and (max-width: $pre-desktop-width) {
    background-image:
      image-set(url("../../img/adv/adv-bg-clouds-tablet@1x.webp") type("image/webp") 1x,
      url("../../img/adv/adv-bg-clouds-tablet@2x.webp") type("image/webp") 2x,
      url("../../img/adv/adv-bg-clouds-tablet@1x.png") type("image/png") 1x,
      url("../../img/adv/adv-bg-clouds-tablet@2x.png") type("image/png") 2x);
    background-repeat: no-repeat;
    background-size: 2091px 996px;
    background-position: center;
  }
}

.adv__title-container {
  text-align: center;
  margin-bottom: 35px;
}

.adv__title-decoration {
  top: 23px;
  left: 51px;
}

.adv__swiper-buttons-container {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.adv__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 42px 42px;
  background-position: center 20px;
  border: 1px solid rgba(2, 102, 193, 0.1);
  padding-top: 82px;
  padding-bottom: 18px;
  padding-left: 10px;
  padding-right: 10px;

  h3 {
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 15px;
  }

  p {
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    background-size: 48px 48px;

    h3 {
      font-size: 16px;
      line-height: 16px;
    }

    p {
      font-size: 14px;
      line-height: 22px;
    }
  }

  @media (min-width: $desktop-width) {
    background-size: 54px 54px;

    h3 {
      font-size: 18px;
      line-height: 18px;
    }
  }
}

.adv__card--safety {
  background-image: url("/__spritemap#sprite-safety-view");
}

.adv__card--knowledge {
  background-image: url("/__spritemap#sprite-knowledge-view");
}

.adv__card--equipment {
  padding-left: 9px;
  background-image: url("/__spritemap#sprite-equipment-view");

  div {
    transform: translateX(1px);
  }
}

.adv__card--routes {
  background-image: url("/__spritemap#sprite-routes-view");
}

.adv__card--ecology {
  background-image: url("/__spritemap#sprite-ecology-view");

  span {
    margin-left: -4px;
  }
}

// Swiper

.adv .adv__swiper {
  width: 100%;
  overflow: auto;

  @media (min-width: $desktop-width) {
    overflow: hidden;
  }
}

.adv__swiper-wrapper {
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.adv__swiper-slide {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

