@use "../global/variables";

.contacts {
  padding-top: 36px;
  padding-bottom: 20px;

  p {
    margin: 0;
  }

  p:not([class]) {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
  }

  @media (min-width: $tablet-width) {
    p:not([class]) {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.contacts__title-container {
  position: relative;
  margin-bottom: 29px;
}

.contacts__title-decoration {
  top: -13px;
}

.contacts__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.contacts__item {
  --icon-image: 0;

  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 31px;

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 20px;
    height: 20px;
    background-image: var(--icon-image);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: $tablet-width) {
    &:not(:last-child) {
      margin-bottom: 0;
    }

    &::before {
      width: 24px;
      height: 24px;
      background-size: 24px 24px;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      width: 26px;
      height: 26px;
      background-size: 26px 26px;
    }
  }
}

.contacts__item--phone {
  --icon-image: url("/__spritemap#sprite-phone-view");
}

.contacts__item--email {
  --icon-image: url("/__spritemap#sprite-mail-view");

  &::before {
    top: 4px;
    height: 14px;
  }
}

.contacts__item--address {
  --icon-image: url("/__spritemap#sprite-pin-contacts-view");
}

.contacts__item-title {
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 18px;
  }
}

.contacts__item-description {
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  text-decoration: none;
  color: $primary-text-color;

  @media (min-width: $tablet-width) {
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.contacts__map-container {
  margin: 0 auto;
}

.contacts__map-image {
  display: block;
}
