@use "../global/variables";

.gallery {
  p {
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    p:not([class]) {
      font-size: 14px;
      line-height: 22px;
      width: 420px;
    }
  }

  @media (min-width: $desktop-width) {
    p:not([class]) {
      font-size: 16px;
      line-height: 24px;
      width: 592px;
    }
  }
}

.gallery__title-container {
  position: relative;
}

.gallery__overflow {
  max-width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 768px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
  }
}

.gallery__image-container {
  width: 158px;
  height: 266px;

  @media (min-width: $tablet-width) {
    width: 253px;
    height: 425px;
  }

  @media (min-width: $desktop-width) {
    width: 284px;
    height: 463px;
  }
}

.gallery__swiper-buttons-container {
  display: none;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -50px;
    right: 0;
    display: block;
  }

  @media (min-width: $desktop-width) {
    position: static;
    display: none;
  }
}

.gallery__image {
  display: block;
  object-fit: cover;
}
