@use "../global/variables";

.header {
  background-color: $primary-color;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 42px;
    padding-bottom: 42px;
  }

  @media (max-width: $pre-desktop-width) {
    z-index: 1;
  }
}

.header__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px 0;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
}

.header__nav {
  position: relative;

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
  }
}


.header__nav--open {
  @media (max-width: $pre-desktop-width) {
    .header__button-burger-menu::after {
      mask-image: url("/__spritemap#sprite-cross-view");
      width: 21.27px;
      height: 21.27px;
      mask-size: 21.27px 21.27px;
    }

    .header__nav-list {
      overflow: auto;
      max-height: none;
      padding-bottom: 50px;
      padding-left: 20px;

      @media (min-width: $tablet-width) {
        top: 65px;
        left: -45px;
        gap: 26px;
        width: 768px;
        padding-left: 53px;
      }
    }
  }
}

.header__button-burger-menu {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid transparent;

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: 26px;
    height: 18.91px;
    mask-image: url("/__spritemap#sprite-burger-menu-view");
    mask-size: 26px 18.91px;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: #ffffff;
    transition: background-color 0.5s ease;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header__nav-list {
  position: absolute;
  list-style: none;
  background-color: $primary-color;
  margin: 0;
  padding: 0;
  transition: max-height 0.5s ease, padding 0.5s ease;

  @media (min-width: $desktop-width) {
    position: static;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 838px;
  }

  @media (max-width: $pre-desktop-width) {
    overflow: hidden;
    max-height: 0;
    width: 320px;
    top: 83px;
    left: -16px;
    display: flex;
    flex-direction: column;
    gap: 22px;
  }
}

.header__nav-link {
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $desktop-width) {
    font-weight: 400;
  }
}

.header__logo-container {
  width: 142px;
  height: 42px;

  @media (min-width: $desktop-width) {
    order: -1;
    margin-right: 31px;
  }
}

.header__phone {
  color: #ffffff;
  grid-column: 2 / -1;
  justify-self: end;

  @media (min-width: $tablet-width) {
    grid-column: 3 / -1;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
  }
}
