@use "../global/variables";

.header {
  background-color: $primary-color;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__group-phone {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 14px;

  @media (min-width: $tablet-width) {
    display: contents;
  }
}

.header__button-burger-menu {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid transparent;

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: 26px;
    height: 18.91px;
    mask-image: url("/__spritemap#sprite-burger-menu-view");
    mask-size: 26px 18.91px;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: #ffffff;
    transition: background-color 0.5s ease;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header__nav-list {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.header__nav-link {
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $desktop-width) {
    font-weight: 400;
  }
}

.header__logo-container {
  width: 142px;
  height: 42px;
}

.header__phone {
  color: #ffffff;
  align-self: flex-end;

  @media (min-width: $tablet-width) {
    align-self: center;
  }
}
