@use "../global/variables";

.hero-card-details {
  font-size: 12px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  min-height: 44px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 20px;
  padding-left: 40px;
}
