@use "../global/variables";

.reviews__card {
  p {
    margin: 0;
  }
}

.reviews__card-image-container {
  width: 250px;
  height: 169px;

  @media (min-width: $tablet-width) {
    width: 186px;
    height: 237px;
  }

  @media (min-width: $desktop-width) {
    width: 258px;
    height: 253px;
  }
}

.reviews__image {
  display: block;
}

.reviews__name {
  line-height: 12px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 13px;
    line-height: 13px;
  }
}

.reviews__info {
  line-height: 12px;
  font-weight: 300;
}
