@use "../global/variables";

.tours__image {
  display: block;
}

.tours__link {
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: $primary-text-color;

  &::after {
    position: absolute;
    content: "";
    width: 9px;
    height: 14px;
    background-image: url("/__spritemap#sprite-arrow-view");
    background-repeat: no-repeat;
    background-size: 9px 14px;
    background-position: right center;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}
