@use "../global/variables";

.tours__link {
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: $primary-text-color;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}
