@use "../global/variables";

.tours {
  background-image:
    image-set(url("../../img/background/clouds-bg-mobile-1@1x.webp") type("image/webp") 1x,
    url("../../img/background/clouds-bg-mobile-1@2x.webp") type("image/webp") 2x,
    url("../../img/background/clouds-bg-mobile-1@1x.png") type("image/png") 1x,
    url("../../img/background/clouds-bg-mobile-1@2x.png") type("image/png") 2x);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right 9px;
  padding-top: 39px;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    background-image: none;
    padding-top: 60px;
    padding-bottom: 106px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 123px;
    padding-bottom: 109px;
  }
}

.tours__title-container {
  position: relative;
}

.tours__title {
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.tours__title-decoration {
  top: -15px;
  left: 0;
}

.tours__overflow {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 65px;
  }
}

.tours__swiper {
  width: 290px;

  @media (min-width: $tablet-width) {
    width: 678px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.tours__swiper-buttons-container {
  display: none;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -60px;
    right: 0;
    display: flex;
    gap: 4px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    top: -88px;
  }
}

.tours__image-container {
  position: absolute;
}

.tours__image {
  display: block;
  object-fit: cover;
}

.tours__link {
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: $primary-text-color;
  text-align: center;
  letter-spacing: 0.04em;
  padding-right: 17px;

  &::after {
    position: absolute;
    right: 47px;
    content: "";
    width: 9px;
    height: 14px;
    background-image: url("/__spritemap#sprite-arrow-view");
    background-repeat: no-repeat;
    background-size: 9px 14px;
    background-position: right center;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;

    &::after {
      right: calc(34% - 3px);
      top: 1px;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      right: calc(41% - 3px);
    }
  }
}
