@use "../global/variables";

.tours {
  padding-top: 36px;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 40px;
  }
}

.tours__title-container {
  position: relative;
}

.tours__title {
  margin-bottom: 42px;
}

.tours__overflow {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin: 35px;
  }
}

.tours__swiper {
  width: 290px;

  @media (min-width: $tablet-width) {
    width: 678px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.tours__swiper-buttons-container {
  display: none;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -51px;
    right: 0;
    display: flex;
    gap: 4px;
    z-index: 1;
  }
}

.tours__image-container {
  position: absolute;
}

.tours__image {
  display: block;
  object-fit: cover;
}

.tours__link {
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: $primary-text-color;
  text-align: center;

  &::after {
    position: absolute;
    content: "";
    width: 9px;
    height: 14px;
    background-image: url("/__spritemap#sprite-arrow-view");
    background-repeat: no-repeat;
    background-size: 9px 14px;
    background-position: right center;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}
